<h1> Add new effort </h1>

<form action="/efforts" method="post">

  <p>
    <label>Today's date</label>
    <input type="text" name="date">
  </p>


  <p>
    <label>Today's score (0,.5,1)</label>
    <input type="text" name="value">
  </p>

  <input type="submit"> or <a href="/directors">Cancel</a>

</form>
